body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Fixed {
	position: fixed;
}

.Fixed--bottom {
	left: 0;
	right: 0;
	bottom: 0;
}

.Fixed--stylish {
	display: flex;
	background: linear-gradient(2deg, #cecece55 0%, #cecece55 45%, #50d89090 69%, #50d89090 100%);
	padding: 0;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0px 2px 10px 3px #66666630;
	border-top: 2px solid #ffffff05;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

.Fixed--stylish button {
	display: inline-block;
	flex: 1 1 auto;
	border: none;
	background: none;
	padding: 20px;
	margin: 0;
	font-weight: bold;
	border-left: 1px solid #cccccc50;
	border-right: 1px solid #66666630;
	touch-action: none;
}

.Fixed--stylish button:first-of-type {
	border-left: none;
}

.Fixed--stylish button:last-of-type {
	border-right: none;
}

h4 {
	margin: 0;
	line-height: 1.6em;
}

input[type='text'] {
	font-size: 16px;
	line-height: 1.6em;
	text-align: center;
	padding: 10px;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #cecece;
	box-shadow: 0 4px 4px -4px #333;
}

input[type='text']:active,
input[type='text']:focus {
	outline: none;
}

form {
	width: 100%;
}

.CTA {
	display: block;
	width: 80%;
	margin: 20px auto;
	padding: 0 20px;
	border: none; /* 4px solid #ffd369; */
	border-radius: 10px;
	background: #263f44;
	text-align: center;
	font-size: 3em;
	color: #ffd369;
	text-decoration: none;
	line-height: 1.6em;
}

.Flex {
	display: flex;
}
.Flex--01 > :first-child {
	flex: 0 0 auto;
}
.Flex--01 > :not(:first-child) {
	flex: 1 1 auto;
}
.Flex--edges {
	align-content: space-between;
}
.Flex--edges > * {
	flex: 1 1 auto;
}
.Flex--edges > :last-child {
	text-align: right;
}
.Flex--edges > :first-child {
	text-align: left;
}
html,
body,
#root {
	height: 100%;
}

.AvatarContainer {
	border-radius: 50%;
	overflow: hidden;
	width: 50px;
	height: 50px;
	background: white;
	border: 1px solid rgba(44, 44, 44, 0.5);
	box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);
}

.AvatarContainer--card {
	background: none;
	border: none;
	height: 70px;
	width: 50px;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.8);
}

.column-layout {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.notList {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.PlayerRow {
	display: flex;
	background-color: #eaeaea;
	box-shadow: 0 4px 8px -4px #000;
	border-radius: 10px;
	margin: 16px 8px;
	padding: 5px 8px 8px 12px;
}

.PlayerRow.selected {
	background-color: #f0cf85;
}

.PlayerRow .AvatarContainer {
	flex: 0 0 auto;
}

.PlayerRow .name {
	flex: 1 1 auto;
	display: flex;
	position: relative;
	align-items: center;
	padding-left: 10px;
}

.row {
	margin-left: 16px;
	margin-right: 16px;
}

.StatusDot {
	width: 20px;
	height: 20px;
	content: '';
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -10px;
}

.StatusDot + input[type='text'] {
	padding-right: 30px;
}

.StatusDot.green {
	background-color: #50d890;
}

.StatusDot.orange {
	background-color: #eb8242;
}

.StatusDot.red {
	background-color: #9d0b0b;
}

.kick-button {
	background: none;
	border: none;
	padding: 0 10px;
	line-height: 0;
	color: red;
	font-weight: bold;
}

.scroll-lock * {
	touch-action: none;
}
